/* Flex для Catalog + стрелка */
.catalog-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Кнопка со стрелкой */
.dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  z-index: 2;
}

/* SVG стрелка */
.dropdown-toggle .arrow {
  transition: transform 0.3s;
}

/* Выпадающий список */
.catalog-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Черная шапочка сверху */
.catalog-menu .dropdown::before {
  content: "";
  display: block;
  height: 10px;
  background-color: #000;
  border-radius: 5px 5px 0 0;
}

/* Элементы списка */
.catalog-menu .dropdown li a {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
  border-left: 4px solid transparent;
}

.catalog-menu .dropdown li:first-child a {
  background: #ece2d0;
  border-bottom: 1px solid #aba198;
}

.catalog-menu .dropdown li:last-child a {
  background: #ece2d0;
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.catalog-menu .dropdown li a:hover {
  background: #e0d6c5;
  border-left: 4px solid #ffbc13;
}

/* Открытое состояние */
.catalog-menu.open .dropdown {
  display: block;
}

.catalog-menu.open .dropdown-toggle .arrow {
  transform: rotate(-180deg); /* стрелка вверх */
}
