<footer>
    <div class="information"> 
        <div class="copyright-developer">
            <div class="copyright-developer--item">arctech ©2026</div>
            <div class="copyright-developer--item">developer prus danila @arin_acker</div>
        </div>
        <div class="logo">
            <img src="../src/images/ARCTech logoLight.png" alt="ARCtech logo" class="fit-image">
        </div>
        <div class="contacts">
            <div class="contact--item">support@arctech.com</div>
            <div class="contact--item telegram"> 
                <div><img src="../src/images/telegram.png" alt="telegram icon"></div>
                @arctech
            </div>
        </div>
    </div>
    <div class="line"></div>
</footer>