<footer>
    <div class="information"> 
        <div class="copyright">
            <div class="copyright--item">arctech ©2026 <a href="../pages/legal-information.html">Privacy Policy</a></div>
            <div class="copyright--item">developer prus danila @arin_acker</div>
        </div>
        <div class="logo">
           <a href="../index.html"><img src="../src/images/ARCTech logoLight.png" alt="ARCtech logo" class="fit-image"></a> 
        </div>
        <div class="contacts">
            <a href="">
                <div class="contact--item">support@arctech.com</div>
            </a>
            <a href="">
                <div class="contact--item telegram"> 
                    <div><img src="../src/images/telegram.png" alt="telegram icon"></div>
                    @arctech
                </div>
            </a>
        </div>
    </div>
    <div class="line"></div>
</footer>