<header>
    <div class="navigation">
        <div class="logo">
            <a href="../index.html"><img src="../src/images/ARCTech logoDark.png" alt="ARCtech logo" class="fit-image"></a> 
        </div>
        <div class="navigation-menu">
            <div class="navigation--item catalog-menu"><a href="../pages/keyboard-catalog.html">catalog</a></div>
            <div class="navigation--item"><a href="#news">news</a></div>
            <div class="navigation--item"><a href="../pages/contact.html">contact</a></div>
        </div>
        <div class="navigation-personal">
            <div class="navigation--item">
                <img src="../src/images/personal account.svg" alt="personal account icon">
            </div>
            <div class="navigation--item">
                <a href="../pages/cart.html">
                    <img src="../src/images/cart.svg" alt="cart icon">
                </a>
            </div>
        </div>
    </div>
</header>