<header>
    <div class="navigation">
        <div class="logo">
            <a href="./index.html"><img src="./src/images/ARCTech logoDark.png" alt="ARCtech logo" class="fit-image"></a> 
        </div>
        <div class="navigation-menu">
            <div class="navigation--item catalog-menu">
                <span> <a href="./index.html#catalog">catalog</a></span>
                <button class="dropdown-toggle">
                    <svg class="arrow" width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.50006 1.5L9.50006 11.5L17.5001 1.5" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <ul class="dropdown">
                    <li><a href="./keyboard-catalog.html">keyboards</a></li>
                    <li><a href="./mouse-catalog.html">mice</a></li>
                    <li><a href="./headphone-catalog.html">headphones</a></li>
                    <li><a href="./mouse-pad-catalog.html">mouse pads</a></li>
                </ul>
            </div>
            
            <div class="navigation--item"><a href="./index.html#news">news</a></div>
            <div class="navigation--item"><a href="./contact.html">contact</a></div>
        </div>
        <div class="navigation-personal">
            <div class="navigation--item">
                <a href="">
                    <img src="./src/images/personal account.svg" alt="personal account icon">
                </a>
            </div>
            <div class="navigation--item">
                <a href="./cart.html">
                    <img src="./src/images/cart.svg" alt="cart icon">
                </a>
            </div>
        </div>
    </div>
</header>
