<header>
    <div class="navigation">
        <div class="logo">
            <img src="../src/images/ARCTech logoDark.png" alt="ARCtech logo" class="fit-image">
        </div>
        <div class="navigation-menu">
            <div class="navigation--item catalog-menu">catalog</div>
            <div class="navigation--item">news</div>
            <div class="navigation--item">contact</div>
        </div>
        <div class="navigation-personal">
            <div class="navigation--item">
                <img src="../src/images/personal account.svg" alt="personal account icon">
            </div>
            <div class="navigation--item">
                <img src="../src/images/cart.svg" alt="cart icon">
            </div>
        </div>
    </div>
</header>