main {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../src/images/background.png");
  background-repeat: no-repeat;
  background-size: 4600px;
  background-position: calc(50% + 190px) -50px;
}

.catalog {
  margin-top: 160px;
  margin-bottom: 100px;
}

.catalog-controls {
  width: 1180px;
  margin: 0 auto 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.filters {
  display: flex;
  gap: 25px;
}

.filter-item {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.filter-item:hover {
  opacity: 1;
}

.filter-item.active {
  opacity: 1;
  text-decoration: underline;
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.sort:hover {
  opacity: 0.7;
}

.sort-icon {
  font-size: 14px;
  transition: transform 0.3s;
}

.sort.active .sort-icon {
  transform: rotate(180deg);
}

.catalog-grid {
  margin: 0 auto;
  width: 1180px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  width: 580px;
  height: 415px;
  background: rgba(9, 13, 25, 0.3);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.product-card-big {
  height: 550px;
}

.product-card-img {
  width: 510px;
  height: 190px;
  background: #ece2d0;
  border-radius: 22px;
  padding: 25px 50px;
  align-items: center;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.product-card-big > .product-card-img {
  height: 320px;
}

.product-card-img img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.product-card-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  height: 35px;
  background: #0c101a;
  border-radius: 30px;
  padding: 10px 25px 10px 15px;
}

.product-card-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 135px;
  text-transform: uppercase;
}

.details-btn {
  display: flex;
  background: #0c101a;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  height: 35px;
  line-height: 15px;
  color: #ece2d0;
  font-weight: 500;
  justify-content: center;
}

.details-btn:hover {
  border: #ece2d0 2px solid;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.buy-btn {
  position: relative;
  width: 135px;
  height: 35px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffbc13;
  font-weight: 500;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

.buy-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(90deg, #ffffff, #2dc5f4, #ae02f6, #08000c);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: opacity 0.3s;
}

.buy-btn:hover::before {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  display: none; /* скрыта */
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modal.active {
  display: flex;
  overflow: hidden;
}

.modal-content {
  width: 1180px;
  height: 810px;
  background: rgba(12, 16, 26, 0.85);
  border-radius: 20px;
  padding: 45px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: scale(0.9) translateY(30px);
  opacity: 0;

  transition: 0.3s ease;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.modal-image {
  width: 100%;
  height: 400px;
  background: #ece2d0;
  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 100px;
}

.modal-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-body {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.modal-specs {
  display: flex;
  gap: 20px;
}

.specs-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card-info-item {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 35px;
  background: #0c101a;
  border-radius: 30px;
  padding: 10px 25px 10px 15px;
  color: white;
}

.modal-side {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-description {
  height: 130px;
  background: #0c101a;
  border-radius: 30px;
  padding: 20px;
  color: white;
}

.modal-price {
  font-weight: 500;
  font-size: 40px;
  color: white;
  text-align: center;
}

.modal-buy {
  width: 100%;
  height: 35px;
  background: #ffbc13;
  border-radius: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.modal-buy::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(90deg, #ffffff, #2dc5f4, #ae02f6, #08000c);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: 0.3s;
}

.modal-buy:hover::before {
  opacity: 1;
}

.modal.active .modal-content {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.details-btn {
  transition: all 0.07s linear(-0.35 -31.42%, 1 100%);
}
