main {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../src/images/background.png");
  background-repeat: no-repeat;
  background-size: 4600px;
  background-position: calc(50% + 190px) -50px;
}

.catalog {
  margin-top: 160px;
  margin-bottom: 100px;
}

.catalog-grid {
  margin: 0 auto;
  width: 1180px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  width: 580px;
  height: 415px;
  background: rgba(9, 13, 25, 0.3);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.product-card-big {
  height: 550px;
}

.product-card-img {
  width: 510px;
  height: 190px;
  background: #ece2d0;
  border-radius: 22px;
  padding: 25px 50px;
  align-items: center;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.product-card-big > .product-card-img {
  height: 320px;
}

.product-card-img img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.product-card-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  height: 35px;
  background: #0c101a;
  border-radius: 30px;
  padding: 10px 25px 10px 15px;
}

.product-card-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 135px;
  text-transform: uppercase;
}

.details-btn {
  display: flex;
  background: #0c101a;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  height: 35px;
  line-height: 15px;
  color: #ece2d0;
  font-weight: 500;
  justify-content: center;
}

.details-btn:hover {
  border: #ece2d0 2px solid;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.buy-btn {
  position: relative;
  width: 135px;
  height: 35px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffbc13;
  font-weight: 500;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

.buy-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;

  background: linear-gradient(90deg, #ffffff, #2dc5f4, #ae02f6, #08000c);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: opacity 0.3s;
}

.buy-btn:hover::before {
  opacity: 1;
}

/* окно */
.modal-content {
  width: 1180px;
  height: 810px;
  background: rgba(12, 16, 26, 0.95);
  border-radius: 20px;
  padding: 45px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* крестик */
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}

/* картинка */
.modal-image {
  width: 100%;
  height: 400px;
  background: #ece2d0;
  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* нижняя часть */
.modal-body {
  display: flex;
  gap: 30px;
}

/* характеристики */
.modal-specs {
  display: flex;
  gap: 20px;
}

.specs-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* твой стиль */
.product-card-info-item {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 35px;
  background: #0c101a;
  border-radius: 30px;
  padding: 10px 25px 10px 15px;
  color: white;
}

/* правая колонка */
.modal-side {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* описание */
.modal-description {
  height: 130px;
  background: #0c101a;
  border-radius: 30px;
  padding: 20px;
  color: white;
}

/* цена */
.modal-price {
  font-weight: 600;
  font-size: 40px;
  color: white;
}

/* кнопка */
.modal-buy {
  width: 100%;
  height: 35px;
  background: #ffbc13;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-buy {
  position: relative;
  overflow: hidden;
}

.modal-buy::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px;

  background: linear-gradient(90deg, #ffffff, #2dc5f4, #ae02f6, #08000c);

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: 0.3s;
}

.modal-buy:hover::before {
  opacity: 1;
}
