footer {
  height: 150px;
  background-color: #130918;
  color: #ece2d0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0 0 0;
}

.information {
  position: relative;
  width: 1180px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17px;
  border-bottom: 1px #b5aba2 solid;
}

.copyright {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright--item a {
  text-decoration: none;
  color: #ece2d0;
}

.copyright--item a:hover {
  color: rgba(236, 226, 208, 0.7);
  cursor: pointer;
  transition: all 0.1s;
}

footer .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
}

.contacts {
  text-align: right;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  border-radius: 30px;
}

.contact--item:hover {
  color: rgba(236, 226, 208, 0.7);
  cursor: pointer;
  transition: all 0.1s;
}

.contact--item img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.contact--item.telegram {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.line {
  width: 1180px;
  height: 1px;
  background-color: #b5aba2;
  opacity: 0.3;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
