header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  background-color: #ece2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #bdb5a6 1px solid;
}

.navigation {
  position: relative;
  width: 1180px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.navigation-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigation-personal {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navigation--item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #130918;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.navigation-personal .navigation--item {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.navigation-personal .navigation--item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navigation-personal .navigation--item img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.navigation-personal .navigation--item:hover {
  background-color: rgba(153, 141, 118, 0.3);
}

.navigation--item:hover {
  text-decoration: underline;
}

.catalog-menu {
  position: relative;
  cursor: pointer;
}

.dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.dropdown-toggle .arrow {
  transition: transform 0.3s;
}

.catalog-menu span {
  padding: 10px 8px;
  display: inline-block;
  color: #000;
  font-weight: bold;
}

.catalog-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -55px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
}

.catalog-menu .dropdown::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #000;
  border-radius: 5px 5px 0 0;
}

.catalog-menu .dropdown li a {
  font-size: 20px;
  display: block;
  padding: 8px 15px 8px 10px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
  border-left: 4px solid transparent;
  background: #ece2d0;
  border-bottom: 1px solid #aba198;
}

.catalog-menu .dropdown li:last-child a {
  background: #ece2d0;
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.catalog-menu .dropdown li a:hover {
  background: #e0d6c5;
  border-left: 4px solid #ffbc13;
}

.catalog-menu.open .dropdown {
  display: block;
}

.catalog-menu.open .dropdown-toggle .arrow {
  transform: rotate(-180deg);
}
